#zoombox.lightbox #zoombox_aplat {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height:100%;
	background-color: #000;
}
#zoombox_loader {
	background:url(loader.png) left top no-repeat;
	position:absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
	overflow: hidden;
	z-index: 110;
}

#zoombox.lightbox #zoombox_close {
	position: absolute;
	bottom: -32px;
	right: 0;
	height: 22px;
	width: 66px;
	background: transparent url(close.gif) no-repeat right center;
	z-index: 100;
}
.zoombox_close{
	cursor: pointer;
}
#zoombox.lightbox #zoombox_contener {
	position:absolute;
	padding:0;
	margin:0;
	overflow: visible;
	padding:10px 10px 42px 10px;
	background:#FFF;
	z-index: 90;
}
#zoombox.lightbox #zoombox_relative{
	position:relative;
	width:100%;
	height:100%;
}
#zoombox.lightbox #zoombox_content {
	width:100%;
	height:100%;
	overflow:hidden;
}	
#zoombox.lightbox #zoombox_content iframe{
	border:none;
}
#zoombox.lightbox #zoombox_infos{
	background:#FFF;
	padding:10px;
	width:auto;
	height:22px;
	position:absolute;
	bottom:-42px;
	left:-10px;
	right:-10px;
	padding-right:13px;
	
	font-family:Verdana,Helvetica,sans-serif;
	font-size:10px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	color:#666;
	line-height:1.4em;
}
zoombox.lightbox #zoombox_title{
	background:#FFF;
	height:22px;
}
#zoombox.lightbox #zoombox_next{
	position:absolute;
	width:50%;
	right:0;
	top:0;
	bottom:0;
	height:auto;
	cursor:pointer;
}
#zoombox.lightbox #zoombox_next:hover{
	background:transparent url(next.gif) no-repeat right 15%;
}
#zoombox.lightbox #zoombox_prev{
	position:absolute;
	width:50%;
	left:0;
	top:0;
	bottom:0;
	height:auto;
	cursor:pointer;
}
#zoombox.lightbox #zoombox_prev:hover{
	background:transparent url(prev.gif) no-repeat left 15%;
}
.clear{clear:both;}

div.zoombox_bg_h {
	position:absolute;
	top: -18px;
	left:0;
	width: 100%;
	height: 18px;
	background: transparent url(ombre_h.png) repeat-x;
}

div.zoombox_bg_hd {
	position:absolute;
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(ombre_hd.png) no-repeat;
}

div.zoombox_bg_d {
	position:absolute;
	top:0;
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url(ombre_d.png) repeat-y;
}

div.zoombox_bg_bd {
	position:absolute;
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(ombre_bd.png) no-repeat;
}

div.zoombox_bg_b {
	position:absolute;
	bottom: -18px;
	left:0;
	width: 100%;
	height: 18px;
	background: transparent url(ombre_b.png) repeat-x;
}

div.zoombox_bg_bg {
	position:absolute;
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(ombre_bg.png) no-repeat;
}

div.zoombox_bg_g {
	left: -13px;
	top:0;
	position:absolute;
	height: 100%;
	width: 13px;
	background: transparent url(ombre_g.png) repeat-y;
}

div.zoombox_bg_hg {
	position:absolute;
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(ombre_hg.png) no-repeat;
}